extends layout

block content
  .main.container
    .row
      .col-sm-offset-3.col-sm-6.col-md-offset-3.col-md-5
        .symform1-cont
          h3.display-5.m-b-2.sym-center Log In
          p.sym-center.sym-u-2.error-msg #{error}
          form(method='POST' action='/login')
            div.form-group
              label(for='email') Email
              input.form-control(type='text' id='email' placeholder='email' name='id')
            div.form-group
              label(for='password') Password
              input.form-control(type='password' id='password' placeholder='password' name='authCode')
            div.sym-center
              button.btn.btn-primary(type='submit') Log in
          .sym-u-1
          a(href="/resetpw") Forgot password?