nav.navbar.navbar-fixed-top.navbar-default
 .container-fluid
  .navbar-header
    a(class='navbar-brand' href='/') 
     img(src='/img/icon.png' style='width:24px;height:24px;')
    a(class='navbar-brand' href='/') Symb<span class="sym_orange">iot</span>ic Security
.placeholders